rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /test/connection {
      allow read: if true;
    }
    match /projects/{projectId} {
      allow read: if true;
      allow write: if request.resource.data.projectName is string
                   && request.resource.data.totalDays is number
                   && request.resource.data.tasks is list;
    }
  }
}
